:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(42, 40, 40, 0.87);
  background-color: rgba(202, 215, 231, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(160, 199, 254);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ant-form-item-control-input-content {

}

